@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Tema "Fog" */
    --background: 220 15% 97%; /* #f6f7f9 */
    --foreground: 220 10% 20%; /* #2e2f38 */
    --card: 220 15% 97%;
    --card-foreground: 220 10% 20%;
    --popover: 220 15% 97%;
    --popover-foreground: 220 10% 20%;
    --primary: 220 10% 20%;
    --primary-foreground: 220 15% 97%;
    --secondary: 220 10% 94%;
    --secondary-foreground: 220 10% 20%;
    --muted: 220 10% 94%;
    --muted-foreground: 220 10% 45%;
    --accent: 220 10% 94%;
    --accent-foreground: 220 10% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 10% 90%;
    --input: 220 10% 90%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    /* Tema "Midnight" */
    --background: 250 15% 12%; /* #1c1a20 */
    --foreground: 250 10% 90%; /* #e4e2e6 */
    --card: 250 15% 12%;
    --card-foreground: 250 10% 90%;
    --popover: 250 15% 12%;
    --popover-foreground: 250 10% 90%;
    --primary: 250 10% 90%;
    --primary-foreground: 250 15% 12%;
    --secondary: 250 10% 17%;
    --secondary-foreground: 250 10% 90%;
    --muted: 250 10% 17%;
    --muted-foreground: 250 5% 65%;
    --accent: 250 10% 17%;
    --accent-foreground: 250 10% 90%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 250 10% 17%;
    --input: 250 10% 17%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
    /* overflow-y: scroll; <-- FIX UTAMA: Paksa scrollbar selalu ada */
  }
  body {
    @apply text-foreground transition-colors duration-300;
    font-family: "JetBrains Mono", sans-serif;
  }
}

